<mat-card>
  <mat-card-title class="mat-title my-primary-text" align="center">
    <h4>Reset Password</h4>
  </mat-card-title>
  <mat-card-subtitle class="my-accent-text margin-left-5">{{ msg }}</mat-card-subtitle>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="changePassword()">
    <mat-form-field flex layout="row">
      <input matInput placeholder="New Password" type="password" formControlName="password">
      <mat-error align="end">
        <span *ngIf="password.hasError('required')">New Password is required</span>
        <span *ngIf="!password.hasError('required') && password.hasError('invalidPassword')">New Password must be at least 8 characters</span>
      </mat-error>
    </mat-form-field>
    <div class="margin-left-5">
      <button mat-raised-button color="primary"type="button" (click)="changePassword()" [disabled]="!resetPasswordForm.valid">
        Change Password
      </button>
      &nbsp;
      <button mat-raised-button (click)="logout()" type="button">Logout</button>
    </div>
  </form>
</mat-card>
